<link rel="import" href="/scripts/vendor/polymer/polymer.html" />

<link rel="import" href="/scripts/vendor/paper-styles/color.html" />
<link rel="import" href="/scripts/vendor/paper-styles/default-theme.html" />
<link rel="import" href="/scripts/vendor/paper-styles/classes/typography.html" />
<link rel="import" href="/scripts/vendor/paper-styles/classes/shadow.html" />
<link rel="import" href="/scripts/vendor/iron-icons/iron-icons.html">
<link rel="import" href="/scripts/vendor/iron-icons/av-icons.html">
<link rel="import" href="/scripts/vendor/iron-grid/iron-grid.html" />
<link rel="import" href="/scripts/vendor/iron-signals/iron-signals.html" />

<link rel="import" href="/scripts/vendor/paper-toolbar/paper-toolbar.html" />
<link rel="import" href="/scripts/vendor/paper-menu/paper-menu.html" />
<link rel="import" href="/scripts/vendor/paper-button/paper-button.html" />
<link rel="import" href="/scripts/vendor/paper-item/paper-item.html" />
<link rel="import" href="/scripts/vendor/paper-spinner/paper-spinner.html" />
<link rel="import" href="/scripts/vendor/paper-icon-button/paper-icon-button.html" />
<link rel="import" href="/scripts/vendor/paper-menu-button/paper-menu-button.html" />
<link rel="import" href="/scripts/vendor/paper-material/paper-material.html" />

<link rel="import" href="/components/event-graph/event-graph.html" />
<link rel="import" href="/components/event-info/event-info.html" />

<dom-module id="tracer-dashboard">
    
    <link rel="stylesheet" href="/styles/fonts.css" />
    <link rel="stylesheet" href="/styles/main.css" />

    <template>
        
        <paper-toolbar>    
            <paper-menu-button>
                <paper-icon-button icon="menu" class="dropdown-trigger"></paper-icon-button>
                <paper-menu class="dropdown-content">
                    <paper-item>Share</paper-item>
                    <paper-item>Settings</paper-item>
                    <paper-item>Help</paper-item>
                </paper-menu>
            </paper-menu-button>
            
            <div class="title">Visually tracing events</div>

            <template hidden$="{{isGraphPlaying}}">
                <div class="center-text">
                    <p>Graph connected to event stream, listening for trace events.</p>
                </div>
            </template>
            
            <paper-icon-button icon="av:replay" title="Replace events"></paper-icon-button>
            <paper-icon-button icon="av:play-circle-outline" hidden$="{{isGraphPlaying}}" title="Toggle play events" on-click="handleTogglePlay"></paper-icon-button>
            <paper-icon-button icon="av:pause-circle-outline" hidden$="{{!isGraphPlaying}}" title="Pause events" on-click="handleTogglePlay"></paper-icon-button>
            <paper-icon-button icon="icons:save" title="Save events"></paper-icon-button>

        </paper-toolbar>

        <paper-spinner class="center-image" hidden$="{{isSpinnerHidden}}" alt="Loading graph" active></paper-spinner>
        
        <event-graph></event-graph>

        <event-info></event-info>

    </template>
</dom-module>

<script>
    Polymer({
        is: "tracer-dashboard",
        properties: {
            isSpinnerHidden: {
                type: Boolean,
                value: false,
                notify: true
            },
            isGraphPlaying: {
                type: Boolean,
                value: false,
                notify: true
            }
        },
        listeners: {
            'graph-ready': 'handleGraphReady'
        },
        handleGraphReady: function () {
            Graph.Debug.write("Graph ready.");
            var self = this;
            setTimeout(function () {
                self.isSpinnerHidden = true;
            }, 1500);
        },
        handleTogglePlay: function () {
            this.isGraphPlaying = !this.isGraphPlaying;
            
            if (this.isGraphPlaying) {
                this.fire('iron-signal', { name: 'graph-stop', data: null });
            } else {
                this.fire('iron-signal', { name: 'graph-start', data: null });
                
            }
        }
    });
</script>
