<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Trace</title>
    
    <!-- jQuery is required by signalr. -->
    <script src="../scripts/vendor/jquery/dist/jquery.min.js" type="text/javascript"></script>
    <script src="../scripts/vendor/signalr/jquery.signalr.min.js" type="text/javascript"></script>
    <script src="../signalr/hubs" type="text/javascript"></script>
    <!-- required by graph.js for drawing the graph. -->
    <script src="https://www.gstatic.com/charts/loader.js"></script>
    <!-- required by polymer. -->
    <script src="../scripts/vendor/webcomponentsjs/webcomponents-lite.min.js"></script>
    <!-- required by the event info to format the event arguments. -->
    <script src="../scripts/vendor/jquery-jsonview/dist/jquery.jsonview.js"></script>
    <script src="../scripts/vendor/jquery.kinetic/jquery.kinetic.min.js"></script>
    
    <!-- graph components. -->
    <script src="../scripts/public/graph.js"></script>
    <script src="../scripts/public/graphEventInfo.js"></script>

    <!-- polymer component templates. -->
    <link href="../Components/tracer-dashboard/tracer-dashboard.html" rel="import">
    
    <!-- styles. -->
    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" href="../scripts/vendor/jquery-jsonview/dist/jquery.jsonview.css">
</head>
<body>
    
    <tracer-dashboard></tracer-dashboard>
    
</body>
</html>
