<html>
<head>
    <title>Tracer</title>
    <link href="../scripts/vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>

    <div class="container">
        <div class="well well-sm text-center">
            <h2>Tracer</h2>
        </div>
        <div class="well well-lg">
            <div class="row" style="margin-bottom:20px">
                <h4><span class="glyphicon glyphicon-pencil"></span>&nbsp;Test Message</h4>
                <textarea class="field " id="message" rows="5" style="width:100%" placeholder="Enter a test message"></textarea>
            </div>
            <div class="row text-center">
                <input type="button" class="btn btn-primary span2" id="sendmessage" value="Test" />
                <input type="button" class="btn btn-danger span2" id="clearmessages" value="Clear" />
            </div>

        </div>
        <div class="well well-lg">
            <div class="row">
                <table class="table">
                    <thead>
                        <tr>
                            <th>TraceId</th>
                            <th>MethodId</th>
                            <th>TraceEvent</th>
                            <th>MethodName</th>
                            <th>Timestamp</th>
                        </tr>
                    </thead>
                    <tbody id="messages">
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script src="../scripts/vendor/jquery/dist/jquery.min.js" type="text/javascript"></script>
    <script src="../scripts/vendor/signalr/jquery.signalr.min.js" type="text/javascript"></script>
    <script src="../scripts/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../signalr/hubs" type="text/javascript"></script>
    <script src="../scripts/public/tracer.js" type="text/javascript"></script>
</body>
</html>