<link rel="import" href="/scripts/vendor/polymer/polymer.html"/>
<link rel="import" href="/scripts/vendor/paper-dialog/paper-dialog.html"/>

<dom-module id="event-info">
    <template>
        <paper-dialog id="event-info-dialog">
            
            <h2>[[event.MethodName]]</h2>

            <iron-grid>
                <div class="s6">
                   
                </div>
                <div class="s6 text-right">
                    Status: Success </br>
                    Time taken: [[timeTakenInMilliseconds]]ms
                </div>
            </iron-grid>

            <template is="dom-if" if="{{hasArguments(event)}}">
                    <iron-grid>
                        <div class="s4 text-right">
                            <strong>Arguments passed in</strong>
                        </div>
                        <div class="s8">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Value</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <template is="dom-repeat" items="{{event.Arguments}}">
                                        <tr>
                                            <td>{{item.Name}}</td>
                                            <td>
                                                <template is="dom-if" if="{{!isJson(item.Value)}}">
                                                    {{item.Value}}
                                                </template>
                                                <template is="dom-if" if="{{isJson(item.Value)}}">
                                                    <a href="#" data-arg-index="{{item.index}}" on-click="handleViewArgumentClicked">View</a>
                                                </template>
                                            </td>
                                        </tr>
                                    </template>
                                </tbody>
                            </table>
                        </div>
                    </iron-grid>
            </template>
                    
            <iron-grid>
                <div class="s4 text-right">
                    <strong>Returned value</strong>
                </div>
                <div class="s8">
                    <template is="dom-if" if="{{!isJson(event.ReturnValue)}}">
                        {{getReturnValue(event.ReturnValue)}}
                    </template>
                    <template is="dom-if" if="{{isJson(event.ReturnValue)}}">
                        <a href="#">View</a>
                    </template>
                </div>
            </iron-grid>
                           
            
            <div class="buttons">
                <paper-button dialog-dismiss raised>Close</paper-button>
            </div>

        </paper-dialog>
        
        <paper-dialog id="argument-info-dialog">
            
            <h3>Argument name: {{selectedArgument.Name}}</h3>

            <div id="argument-info">
                
            </div>
            
            <div class="buttons">
                <paper-button dialog-dismiss raised>Close</paper-button>
            </div>

        </paper-dialog>

    </template>
</dom-module>

<script>
    Polymer({
        is: "event-info",
        listeners: {
            'event-info-received': 'handleEventInfo'
        },
        handleViewArgumentClicked: function (e) {

            this.selectedArgument = e.model.item;

            document.getElementById('argument-info-dialog').open();
            $("#argument-info").JSONView(this.selectedArgument.Value);

            console.log(this.selectedArgument);
        },
        handleEventInfo: function (event) {
            Graph.Debug.write("Event info received");

            this.event = event.detail;
            this.timeTakenInMilliseconds = event.detail.TimeTakenInMilliseconds;

            document.getElementById('event-info-dialog').open();
        },
        isJson: function (argumentValue) {
            return Graph.Utils.isJson(argumentValue);
        },
        getReturnValue: function (returnValue) {

            console.log(returnValue);

            if (returnValue == null) {
                return "NULL";
            }
            else if (returnValue.length == 0) {
                return "N/A";
            } else {
                return returnValue;
            }
        },
        hasArguments: function(event) {
            return event != null &&
                event.Arguments != null &&
                event.Arguments.length > 0;
        },
        properties: {
            event: {
                value: null,
                notify: true
            },
            selectedArgument: {
                value: null,
                notify: true
            }
        }
    });
</script>