<link rel="import" href="/scripts/vendor/polymer/polymer.html"/>

<dom-module id="event-graph">
    <template>
        
        <style>
            :host {
                display: block;
                height: 100%;
                width: 100%;
                min-width: 900px;
                min-height: 750px;
                overflow: scroll;
            }
        </style>
        
        <iron-signals on-iron-signal-graph-start="handleGraphStart"></iron-signals>
        <iron-signals on-iron-signal-graph-stop="handleGraphStop"></iron-signals>

        <div id="graph">
            
        </div>
            
    </template>
    
</dom-module>

<script>
    Polymer({
        is: "event-graph",
        handleGraphStart: function (event) {
            Graph.Debug.write("Starting the graph...");
            Graph.stop();
        },
        handleGraphStop: function (event) {
            Graph.Debug.write("Stopping the graph...");
            Graph.start();
        },
        attached: function () {
            Graph.Debug.write("Graph element attached...");

            var self = this;
            var graphElementId = "graph";

            Graph.setup({
                graphElementId: graphElementId,
                callbacks: {
                    onEventReceived: function(event) {
                        document.getElementsByTagName('event-info')[0].fire("event-info-received", event);
                    }
                }
            });

            $('event-graph').kinetic({
                filterTarget: function (target, e) {
                    if (!/down|start/.test(e.type)) {
                        return !(/area|a|input/i.test(target.tagName));
                    }
                }
            });

            this.fire('graph-ready');
        },
        properties: {
            
        }
    });
</script>