body {
    height: 768px;
}

.overlay, .no-event-info-overlay {
    position: fixed;
    width: 100%;
    height:100%;
    display: flex;
    align-items: center;
    top: 0;
    background-color: #ffffff;
}

.panel > .overlay, .no-event-info-overlay {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
}

.overlay-message {
  display: flex;
  margin: 0 auto;
}

/* prevents the navbar from being blocked by the loading overlay. */
.navbar {
    z-index: 1000 !important;
}

/* standardise arguments and return value panel styling. */
.jsonview {
    font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif !important;
    font-size: 13px !important;
}

.panel {
    position: relative;
    height: 425px;
}

.panel-title {
    text-overflow: ellipsis;
}

.dropdown-menu {
    position: absolute !important;
}

.panel a {
    color: inherit;
    text-decoration: none;
}

.selected {
    color: #ffffff !important;
    background-color: #3392e3 !important;
}

.tab-content {
    padding: 10px !important;
}

.glyphicon-small {
    font-size: 0.7em !important;
}

#event-info-container {
    max-height: 400px;
    padding: 0 !important;
}

#event-table-container {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

#event-table-container-body {
    padding-top: 0;
}

#event-tree-container {
    max-height: 400px;
    padding: 0 !important;
}

.text-area {
    height: 300px;
    min-width: 100%;
    font-size: 13px !important;
}

.error {
    color: red;
}

/* Overrides the current row style i.e. danger or warning with the selected row style. */
.table > thead > tr > td.selected, .table > tbody > tr > td.selected, .table > tfoot > tr > td.selected, .table > thead > tr > th.selected, .table > tbody > tr > th.selected, .table > tfoot > tr > th.selected, .table > thead > tr.selected > td, .table > tbody > tr.selected > td, .table > tfoot > tr.selected > td, .table > thead > tr.selected > th, .table > tbody > tr.selected > th, .table > tfoot > tr.selected > th {
    color: #ffffff;
    background-color: #3392e3 !important;
}

/* Overrides the default jstree search styling with the our selected styling to match the event table. */
.jstree-proton .jstree-search {
    background: #3392e3;
    color: #fff;
    border-radius: 3px;
    box-shadow: inset 0 0 1px #3392e3;
    font-style: normal;
    font-weight: normal;
}

.http-request {
    display: block;
}

.info-header > a {
    color: inherit;
    text-decoration: none;
}

.info-body {
    padding-left: 15px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: #ddd;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.info-body .info-body {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom-style: none;
}

.info-body ul {
    margin-bottom: 0;
}

.status-icon {
    border-radius: 50%;
	display: inline-block;
    height: 10px;
    width: 10px;
    margin-left: 2px;
}

.success {
    background-color: #4caf50;
}

.danger {
    background-color: #e51c23
}

.warning {
    background-color: #ff9800;
}

.dataTables_filter {
    display: none; 
}

.list-group-item {
    border-left: 0;
    border-right: 0;
    border-bottom: #ddd;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}